@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 204, 255);
}

.header__list {
    display: flex;
    list-style: none;
    gap: 20px;
}
.header__link {
    color: white;
    text-decoration: none;
}

.header__link:focus {
    color: whitesmoke;
}

.first__section {
    background-color: rgb(0, 204, 255);
    height: 350px;
}

.text_first__section {
    color: white;
    padding: 20px;
    padding-top: 0px;
    font-size: 19px;
}

.h2 {
    color: white;
    margin: 0;
    padding-top: 20px;
    padding: 20px;
    font-size: 30px;
}

.two__section {
    background-color: rgb(0, 182, 227);
    height: 460px;
}

.two_list {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

#h2_1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.Card_in_list {
    background-color: rgb(0, 168, 210);
    text-decoration: none;
    min-width: 650px;

}


.text-in-card {
    color: white;
    border: white solid 2px;
    padding: 10px;
}

.text-in-card:hover {
    padding: 15px;
}

.footer {
    background-color: rgb(0, 100, 125);
    height: 400px;
}

.footer__list {
    margin: 0;
    list-style: none;
    padding-top: 100px;
}

.h2-1 {
    color: white;
    margin: 0;
}

.footer_link {
    color: rgb(234, 234, 234);
}

#h1 {
    font-size: 40px;
    padding-top: 60px;
}


.first__section_rools {
    background-color: rgb(0, 182, 227);
    height: 1000px;
}


.list_in__main {
    margin: 0;
    text-align: center;
    list-style: none;
}

.main_list {
    color: white;
    font-size: 20px;
}

.two__section_main {
    background-color: rgb(0, 182, 227);
    height: 800px;
}

.three__section {
    background-color: rgb(0, 182, 227);
    height: 400px;
}

.text_three__section {
    color: white;
    padding: 20px;
    padding-top: 0px;
    font-size: 17px;
}


#h1-2 {
    padding-top: 90px;
    font-size: 27px;
}